body {
  font-family: sans-serif;
}


#textInputDna {
  width: 400px;
  height: 20px;
  border-radius: 5px;
}

#binaryOutputDna {
  width: 400px;
  height: 20px;
  border-radius: 5px;
}

#dnaOutput {
  width: 400px;
  height: 20px;
  color: blue;
}


#textInputRna {
  width: 400px;
  height: 20px;
  border-radius: 5px;
}

#binaryOutputRna {
  width: 400px;
  height: 20px;
  border-radius: 5px;
}

#rnaOutput {
  width: 500px;
  height: 20px;
  color: blue;
}



#dnaInput {
  width: 400px;
  height: 20px;
  border-radius: 5px;
}

#binaryOutputFromDna {
  width: 500px;
  height: 20px;
  color: blue;
}

#dnaComplimentaryInput {
  width: 400px;
  height: 20px;
  border-radius: 5px;
}


#dnaComplimentaryOutput {
  width: 500px;
  height: 20px;
  color: blue;
}

#dnaComplimentaryBinaryOutput {
  width: 500px;
  height: 20px;
  color: blue;
}

#asciiOutput {
  width: 500px;
  height: 20px;
  color: blue;
}

button {
  height: 25px;
  border-radius: 5px;
}

button:hover {
  background-color: #2FBDC3;
}

h5 {
  font-style: italic;
}
